.node-content-wrapper{
    border: 1px solid green;
    padding: 6px;
    border-radius: 8px; 
    background-color:beige
}
hr{
    border: 1px solid lightgray;
    border-radius: 100%;
}
.node-content-wrapper:hover{
    border: 1px solid palevioletred;
    border-radius: 10px;
    cursor: pointer;
}
.active{
    outline: 2px solid palevioletred;
    border: 1px solid palevioletred;
    border-radius: 10px;

}